[Unit]
Description=runme.sh
After=network.target

[Service]
Type=oneshot
ExecStart=/payload/runme.sh
RemainAfterExit=true
StandardOutput=journal+console
StandardError=journal+console

[Install]
WantedBy=multi-user.target